@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

//### Primary
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
//### Accent
$Blue: hsl(248, 32%, 49%);
//### Neutral
$Dark-Blue: hsl(249, 10%, 26%) ;
$Grayish-Blue: hsl(246, 25%, 77%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: $Red;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.intro {
  margin-top: 5rem;
  margin-bottom: 4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: grid;
  row-gap: 3rem;

  &__content {
    &-title {
      color: #fff;
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }

    &-desc {
      color: #fff;
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  &__forms {
    display: grid;
    row-gap: 2rem;

    &-content {
      background-color: $Blue;
      border-radius: .5rem;
      padding: 1.2rem 3rem;
      box-shadow: 0 8px rgba(0,0,0,.25);

      &_text {
        color: #fff;
        text-align: center;
        font-weight: 600;

        & span {
          font-weight: 400;
        }
      }
    }
  }

  &__form {
    background-color: #fff;
    border-radius: .5rem;
    display: grid;
    row-gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    box-shadow: 0 8px rgba(0,0,0,.25);

    &-input {
      width: 100%;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 600;
      color: $Dark-Blue;
      outline: none;
      padding: 1rem 3rem 1rem 1.3rem;
      border-radius: .4rem;
      border: 1px solid rgba(0,0,0,.2);
    }

    &-submit {
      text-transform: uppercase;
      font-family: inherit;
      outline: none;
      border: none;
      background-color: $Green;
      color: #fff;
      border-radius: .4rem;
      width: 100%;
      letter-spacing: .04rem;
      padding: 1rem .7rem;
      font-weight: 500;
      font-size: 1.1rem;
      cursor: pointer;
      box-shadow: 0 4px hsl(154, 59%, 40%);
    }

    &-terms {
      text-align: center;
      color: $Grayish-Blue;
      font-size: .77rem;
      font-weight: 500;

      & a {
        color: $Red;
        text-decoration: none;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  body {
    display: flex;
    justify-content: center;
  }

  .intro {
    max-width: 400px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 700px) {
  .intro {
    max-width: 500px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
    align-items: center;
    min-height: 100vh;
  }

  .intro {
    max-width: 1050px;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

    &__content {
      display: grid;
      align-content: center;

      &-title {
        text-align: left;
        line-height: 1.2;
        font-size: 2.8rem;
      }

      &-desc {
        text-align: left;
        font-size: .9rem;
        line-height: 1.6;
      }
    }

    &__forms {
      row-gap: 1.2rem;

      &-content {
        padding: 1rem 4rem;

        &_text {
          font-size: .9rem;
        }
      }
    }

    &__form {
      padding: 2.3rem;

      &-input {
        font-size: .8rem;
        padding: 1rem 4rem 1rem 1.7rem;
      }

      &-submit {
        font-size: .9rem;
        font-weight: 600;
        padding: .8rem 0;
        box-shadow: 0 3px hsl(154deg 59% 40%);
      }

      &-terms {
        font-size: .6rem;
      }
    }
  }
}

